{% extends 'base.html.twig' %}

{% block title %}CONSULTANT :: TRT Conseil{% endblock %}

{% block body %}

    {{ include('parts/_header.html.twig') }}

    <div class="large-center-wrapper mb-5">
        <div class="page-title-wrapper">
            <h2>CONSULTANT</h2>
        </div>

        <div class="inner-center-wrapper">
            <div class="w-100 bottom-separator mb-4">
                <h3>Liste des candidats à approuver</h3>
                <div class="table-wrapper mb-3 p-2">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr class="table-warning">
                                <th>
                                    E-mail
                                </th>
                                <th class="text-end">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for unauthorizedCandidate in unauthorizedCandidates %}
                                <tr>
                                    <td>🔴 {{ unauthorizedCandidate.email }}</td>
                                    <td class="text-end"><a class="btn btn-sm btn-primary button-shadow ms-2" href="{{ path('app_consultant_grant_candidate', {'id': unauthorizedCandidate.id}) }}" role="button">Approuver</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">✅ Aucun nouveau candidat</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="w-100 bottom-separator mb-4">
                <h3>Liste des recruteurs à approuver</h3>
                <div class="table-wrapper mb-3 p-2">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr class="table-warning">
                                <th>
                                    E-mail
                                </th>
                                <th class="text-end">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for unauthorizedRecruiter in unauthorizedRecruiters %}
                                <tr>
                                    <td>🔴 {{ unauthorizedRecruiter.email }}</td>
                                    <td class="text-end"><a class="btn btn-sm btn-primary button-shadow ms-2" href="{{ path('app_consultant_grant_recruiter', {'id': unauthorizedRecruiter.id}) }}" role="button">Approuver</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">✅ Aucun nouveau recruteur</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="w-100 bottom-separator mb-4">
                <h3>Liste des annonces à approuver</h3>
                <div class="table-wrapper mb-3 p-2">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr class="table-warning">
                                <th>
                                    Titre
                                </th>
                                <th class="text-end">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for jobOfferToApprove in jobOffersToApprove %}
                                <tr>
                                    <td>🔴 {{ jobOfferToApprove.title }}</td>
                                    <td class="text-end"><a class="btn btn-sm btn-primary button-shadow ms-2" href="#" role="button">Approuver</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">✅ Aucune nouvelle annonce</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="w-100 mb-4">
                <h3>Liste des candidatures à approuver</h3>
                <div class="table-wrapper mb-3 p-2">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr class="table-warning">
                                <th>
                                    Annonce
                                </th>
                                <th>
                                    Candidat
                                </th>
                                <th class="text-end">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for jobApplicationToApprove in jobApplicationsToApprove %}
                                <tr>
                                    <td>🔴 {{ jobApplicationToApprove.jobOffer }}</td>
                                    <td>{{ jobApplicationToApprove.candidate.firstName }} {{ jobApplicationToApprove.candidate.lastName }}</td>
                                    <td class="text-end"><a class="btn btn-sm btn-primary button-shadow ms-2" href="#" role="button">Approuver</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">✅ Aucune nouvelle candidature</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div>&ensp;</div>

{% endblock %}
