{% extends 'base.html.twig' %}

{% block title %}CANDIDAT :: TRT Conseil{% endblock %}

{% block body %}

    {{ include('parts/_header.html.twig') }}

    <div class="large-center-wrapper mb-5">
        <div class="page-title-wrapper">
            <h2>CANDIDAT</h2>
        </div>

        <div class="inner-center-wrapper">
            {% if (candidateFirstName == '') and (candidateLastName == '') %}
                <div class="advisory">
                    <div class="container">
                        <div class="row">
                            <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                                <img class="logo" src="{{ asset('images/advisory.png') }}" alt="Advisory">
                            </div>
                            <div class="col-9">
                                <h3>Vous n'avez pas encore complété votre profil !</h3>
                                {{ form_start(candidateCreationForm) }}
                                    {{ form_row(candidateCreationForm.firstName, {
                                        id: 'inputFirstNameMax'
                                    }) }}
                                    {{ form_row(candidateCreationForm.lastName, {
                                        id: 'inputLastNameMax'
                                    }) }}
                                    {{ form_row(candidateCreationForm.cv, {
                                        id: 'inputCVMax'
                                    }) }}
                                    <div class="d-flex flex-row justify-content-center">
                                        <button type="submit" class="btn btn-primary button-shadow me-2 mt-4 ps-5 pe-5">Valider</button>
                                    </div>
                                {{ form_end(candidateCreationForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="advisory-success">
                    <div class="container">
                        <div class="row">
                            <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                                <img class="medium-logo" src="{{ asset('images/candidate.png') }}" alt="Advisory">
                            </div>
                            <div class="col-9">
                                <h3>Candidate {{ candidateFirstName }} {{ candidateLastName }} :</h3>
                                <ul>
                                    <li><b>Prénom : </b>{{ candidateFirstName }}</li>
                                    <li><b>Nom : </b>{{ candidateLastName }}</li>
                                    <li><b>Adresse E-mail : </b>{{ candidateEmail }}</li>
                                    <li><b>C.V. : </b><a href="{{ asset('uploads/cv/' ~ candidateCV) }}">Voir le C.V.</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
